<!DOCTYPE html>{% load widget_tweaks %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

  <style>
    .pointer {
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} mt-3">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
        <form action="" method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
          {{ inline_form.management_form }}
          <div class="form-group">
            {{ form.nome.label_tag }}
            {% render_field form.nome class="form-control form-control-sm" %}
            <small class="form-text text-danger">
              {{ form.errors.nome.0 }}
            </small>
          </div>
          <div class="form-group">
            {{ form.tags.label_tag }}
            {% render_field form.tags class="form-control form-control-sm" %}
            <small class="form-text text-danger">
              {{ form.errors.tags.0 }}
            </small>
          </div>
          <div class="form-group">
            {% render_field form.arquivo class="form-control form-control-sm" %}
            <small class="form-text text-danger">
              {{ form.errors.arquivo.0 }}
            </small>
          </div>
          <h4>Locais de realizacao</h4>
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
                {% for iform in inline_form.forms %}
                <li class="nav-item">
                  <a class="nav-link {% if forloop.first %}active{% endif %}" id="nav-{{ forloop.counter0 }}" data-toggle="tab" href="#tab-{{ forloop.counter0 }}" role="tab">
                    {{ forloop.counter0|add:"1" }}
                    {% if iform.errors %}
                      <i class="fa fa-times-circle text-danger"></i>
                    {% endif %}
                    {% if not iform.errors and iform.has_changed %}
                      <i class="fa fa-check-circle text-success"></i>
                    {% endif %}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>

            <div class="card-body tab-content" id="nav-tabContent">
              {% for iform in inline_form.forms %}
                <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="tab-{{ forloop.counter0 }}" role="tabpanel">
                  {% render_field iform.id %}
                  <div class="form-group">
                    {{ iform.nome.label_tag }}
                    {% render_field iform.nome class="form-control form-control-sm" %}
                    <small class="form-text text-danger">
                      {{ iform.errors.nome.0 }}
                    </small>
                  </div>
                  <div class="form-group">
                    {{ iform.numero.label_tag }}
                    {% render_field iform.numero class="form-control form-control-sm" %}
                    <small class="form-text text-danger">
                      {{ iform.errors.numero.0 }}
                    </small>
                  </div>
                  <div class="form-group">
                    {{ iform.arquivo.label_tag }}
                    {% render_field iform.arquivo class="form-control form-control-sm" %}
                    <small class="form-text text-danger">
                      {{ iform.errors.arquivo.0 }}
                    </small>
                  </div>
                  <div class="form-check">
                    {% render_field iform.DELETE class="form-check-input pointer" %}
                    <label for="{{ iform.DELETE.id_for_label }}" class="pointer">Remover</label>
                  </div>
                </div>
              {% empty %}
                <p id="tab-message">Clique no botão abaixo <code>Adicionar Local</code> para adicionar novos locais de realização.</p>
              {% endfor %}
            </div>
          </div>
          
          <div class="clearfix mt-3">
            <button id="add_form" type="button" class="btn btn-secondary btn-sm float-let">Adicionar Local</button>
            <a href="/" class="btn btn-success btn-sm">Novo projeto</a>
            <button type="submit" class="btn btn-primary btn-sm float-right">
              {% if form.atualizar %}Atualizar{% else %}Cadastrar{% endif %}
            </button>
          </div>
        </form>

        <div id="empty_nav" style="display: none">
          <li class="nav-item">
            <a class="nav-link" id="nav-__prefix__" data-toggle="tab" href="#tab-__prefix__" role="tab">
              __counter__
            </a>
          </li>
        </div>
    
        <div id="empty_tab_form" style="display:none">
          <div class="tab-pane fade" id="tab-__prefix__">
            <div class="form-group">
              {{ inline_form.empty_form.nome.label_tag }}
              {% render_field inline_form.empty_form.nome class="form-control form-control-sm" %}
              <small class="form-text text-danger">
                {{ inline_form.empty_form.errors.nome.0 }}
              </small>
            </div>
            <div class="form-group">
              {{ inline_form.empty_form.numero.label_tag }}
              {% render_field inline_form.empty_form.numero class="form-control form-control-sm" %}
              <small class="form-text text-danger">
                {{ inline_form.empty_form.errors.numero.0 }}
              </small>
            </div>
            <div class="form-group">
              {{ inline_form.empty_form.arquivo.label_tag }}
              {% render_field inline_form.empty_form.arquivo class="form-control form-control-sm" %}
              <small class="form-text text-danger">
                {{ inline_form.empty_form.errors.arquivo.0 }}
              </small>
            </div>
            <div class="form-check">
              {% render_field inline_form.empty_form.DELETE class="form-check-input pointer" %}
              <label for="{{ inline_form.empty_form.DELETE.id_for_label }}" class="pointer">Remover</label>
            </div>
          </div>
        </div>

        <hr/>
        <table class="table table-bordered table-hover table-sm">
          <caption>Lista de Projetos Cadastrados</caption>
          <thead class="thead-light">
            <tr>
              <th>nome</th>
              <th>Arquivo</th>
              <th>Locais</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for p in projetos %}
              <tr>
                <td>{{ p.nome }}</td>
                <td>
                  <a href="{{ p.arquivo.url }}" target="_blank">
                    <img src="{{ p.arquivo.url }}" alt=""class="img-thumbnail" width="128" height="128">
                  </a>
                </td>
                <td>
                  <ul>
                  {% for l in p.locais.all %}
                    <li>
                      <p>{{ l.nome }}</p>
                      <a href="{{ l.arquivo.url }}" target="_blank">{{ l.arquivo.name }}</a>
                    </li>
                  {% endfor %}
                  </ul>
                </td>
                <td>
                  <a href="/editar/{{ p.pk }}/">editar</a>
                </td>
                <td>
                  <a href="/remover/{{ p.pk }}/">remover</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

  <script>
    $(function () {
      function esconderMensagemTab() {
        if ($('#nav-tab').children().length > 0) {
          $('#tab-message').hide();
        }
      }

      function adicionarTab(form_idx) {
        // obtém o template oculto da tab na página para substituição
        var template_nav = $('#empty_nav').html();

        // cria a tab setando o novo índice de formulário (total) no template
        var tab_indexada = template_nav.replace(/__prefix__/g, form_idx).replace(/__counter__/g, parseInt(form_idx) + 1);

        // adiciona a tab ao conjunto de tabs
        $('#nav-tab').append(tab_indexada);

        // obtém o template oculto do formulário na página para substituição
        var template_form = $('#empty_tab_form').html();

        // cria o formulário setando o índice de formulário (total) no template
        var form_indexado = template_form.replace(/__prefix__/g, form_idx);

        // adiciona o formulário ao conjunto de formulários
        $('#nav-tabContent').append(form_indexado);

        // exibe (ativa) a tab atual
        $('#nav-' + form_idx).tab('show');

        esconderMensagemTab();
      }

      esconderMensagemTab();

      $('#add_form').click(function() {
        // obtém o total de formulários adicionado por inline_form.management_form
        var form_idx = $('#id_locais-TOTAL_FORMS').val();

        // incrementa e atualiza o total de formulários
        $('#id_locais-TOTAL_FORMS').val(parseInt(form_idx) + 1);

        adicionarTab(form_idx);
      });
    })

    $('select').select2();
  </script>
</body>
</html>
