<!DOCTYPE html>{% load widget_tweaks %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

  <style>
    .pointer {
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} mt-3">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
        <form action="" method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
          {{ inline_form.management_form }}
          <div class="form-group">
            {{ form.nome.label_tag }}
            {% render_field form.nome class="form-control form-control-sm" %}
            <small class="form-text text-danger">
              {{ form.errors.nome.0 }}
            </small>
          </div>
          <div class="form-group">
            {{ form.tags.label_tag }}
            {% render_field form.tags class="form-control form-control-sm" %}
            <small class="form-text text-danger">
              {{ form.errors.tags.0 }}
            </small>
          </div>
          <div class="form-group">
            {% render_field form.arquivo class="form-control form-control-sm" %}
            <small class="form-text text-danger">
              {{ form.errors.arquivo.0 }}
            </small>
          </div>
          <h4>Locais de realizacao</h4>
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              {% for iform in inline_form.forms %}
                <a class="nav-item nav-link {% if forloop.first %}active{% endif %}" id="nav{{ forloop.counter0 }}" data-toggle="tab" href="#tab{{ forloop.counter0 }}" role="tab">
                  {{ forloop.counter0|add:"1" }}
                </a>
              {% endfor %}
            </div>
          </nav>
          <div class="tab-content mb-3" id="nav-tabContent">
            {% for iform in inline_form.forms %}
              <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="tab{{ forloop.counter0 }}" role="tabpanel">
                {% render_field iform.id %}
                <div class="form-group">
                  {{ iform.nome.label_tag }}
                  {% render_field iform.nome class="form-control form-control-sm" %}
                  <small class="form-text text-danger">
                    {{ iform.errors.nome.0 }}
                  </small>
                </div>
                <div class="form-group">
                  {{ iform.numero.label_tag }}
                  {% render_field iform.numero class="form-control form-control-sm" %}
                  <small class="form-text text-danger">
                    {{ iform.errors.numero.0 }}
                  </small>
                </div>
                <div class="form-group">
                  {{ iform.arquivo.label_tag }}
                  {% render_field iform.arquivo class="form-control form-control-sm" %}
                  <small class="form-text text-danger">
                    {{ iform.errors.arquivo.0 }}
                  </small>
                </div>
                <div class="form-check">
                  {% render_field iform.DELETE class="form-check-input pointer" %}
                  <label for="{{ iform.DELETE.id_for_label }}" class="pointer">Remover</label>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="clearfix">
            <button id="add_form" type="button" class="btn btn-secondary btn-sm float-let">adicionar local</button>
            <button type="submit" class="btn btn-primary btn-sm float-right">enviar</button>
          </div>
        </form>

        <div id="empty_nav" style="display: none">
          <a class="nav-item nav-link" id="nav__prefix__" data-toggle="tab" href="#tab__prefix__" role="tab">
            __counter__
          </a>
        </div>
    
        <div id="empty_tab_form" style="display:none">
          <div class="tab-pane fade" id="tab__prefix__">
            <div class="form-group">
              {{ inline_form.empty_form.nome.label_tag }}
              {% render_field inline_form.empty_form.nome class="form-control form-control-sm" %}
              <small class="form-text text-danger">
                {{ inline_form.empty_form.errors.nome.0 }}
              </small>
            </div>
            <div class="form-group">
              {{ inline_form.empty_form.numero.label_tag }}
              {% render_field inline_form.empty_form.numero class="form-control form-control-sm" %}
              <small class="form-text text-danger">
                {{ inline_form.empty_form.errors.numero.0 }}
              </small>
            </div>
            <div class="form-group">
              {{ inline_form.empty_form.arquivo.label_tag }}
              {% render_field inline_form.empty_form.arquivo class="form-control form-control-sm" %}
              <small class="form-text text-danger">
                {{ inline_form.empty_form.errors.arquivo.0 }}
              </small>
            </div>
            <div class="form-check">
              {% render_field inline_form.empty_form.DELETE class="form-check-input pointer" %}
              <label for="{{ inline_form.empty_form.DELETE.id_for_label }}" class="pointer">Remover</label>
            </div>
          </div>
        </div>

        <hr/>
        <table class="table table-bordered table-hover table-sm">
          <thead>
            <tr>
              <th>nome</th>
              <th>Arquivo</th>
              <th>Locais</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for p in projetos %}
              <tr>
                <td>{{ p.nome }}</td>
                <td><a href="{{ p.arquivo.url }}" target="_blank">{{ p.arquivo.name }}</a></td>
                <td>
                  <ul>
                  {% for l in p.locais.all %}
                    <li>
                      <p>{{ p.locais_realizacao }}</p>
                      <a href="{{ l.arquivo.url }}" target="_blank">{{ l.arquivo.name }}</a>
                    </li>
                  {% endfor %}
                  </ul>
                </td>
                <td>
                  <a href="/editar/{{ p.pk }}/">editar</a>
                </td>
                <td>
                  <a href="/remover/{{ p.pk }}/">remover</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  
  <script>
    $(function () {
      $('#add_form').click(function() {
        var form_idx = $('#id_locais-TOTAL_FORMS').val();
        $('#nav-tab').append($('#empty_nav').html().replace(/__prefix__/g, form_idx).replace(/__counter__/g, parseInt(form_idx) + 1));
        $('#nav-tabContent').append($('#empty_tab_form').html().replace(/__prefix__/g, form_idx));
        $('#id_locais-TOTAL_FORMS').val(parseInt(form_idx) + 1);
      });
    })

    $('select').select2();
  </script>
</body>
</html>
